.content {
    padding-top: 40px;
    padding-left: 10px;
    // padding-bottom: 40px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    // margin: 0px 0px 0px 0px !important;
}

.content > mat-card {
    width: 17% !important;
    margin-bottom: 1%;
    margin-left: 0px;
}

.mat-card {
    
    margin-bottom: 10px !important;
}